In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('Mall_Customers.csv')
data.head(5)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Example Data
data = pd.DataFrame({
    'Income': [15, 16, 17, 30, 31, 32, 55, 58, 60],
    'Spending_Score': [39, 41, 43, 72, 70, 75, 21, 19, 20]
})

# KMeans Clustering
kmeans = KMeans(n_clusters=3)
data['Cluster'] = kmeans.fit_predict(data)

# Plotting
sns.scatterplot(x='Income', y='Spending_Score', hue='Cluster', data=data)
plt.show()